.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightgrey;
}

.Frame {
  background-color: #282c34;
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: lightgrey;
  border-color: lightgrey;
  border-radius: 10px;
  border-style: solid;
}

.App-link {
  color: #61dafb;
}

.Price-explorer-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-color: lightgrey;
  border-radius: 2px;
  border-style: solid;
  min-height: 30vh;
  min-width: 30vw;
  font-size: smaller;
}

.Price-explorer-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  min-height: 20vh;
}

.Menu-bar {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  min-width: 50vw;
}

.Menu-option {
  flex-basis: 100%;
  border-color: lightgrey;
  border-style: solid;
  border-width: 8px;
  color: lightgrey;
}

.Inputs-DCA {
  display: flex;
  justify-content: space-between;
  min-width: 40vw;
}

.Summary {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

.Feature-tab {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Calculate {
  max-width: 10vw;
}
